<section>
<div class="container py-3">
  <div class = "card">
    <div class= "row">
      <div class= "col-md-4">
        <img class="img-fluid dimImage" src="..\..\..\content\images\bread-small.jpg" alt="Responsive image" >
      </div>
    <div class="col-md-8">
      <div class="card-block">
        <h5 class = "card-title text-truncate">{{ infoActu?.actuHeader }}</h5>
        <p class="card-text text-truncate">{{ infoActu?.actuText }}</p>
        <p class="card-text text-truncate"><small class="text-muted">{{infoActu?.actuDate}}</small></p>
      </div>
    </div>
  </div>
</div>
</section>