.marginCateg {
    margin-left: 7px;
}

.paddingCardBox {
    padding-top: 0px;
    padding-left: 0px;
}

.marginText {
    margin-left: 10px;
}

.dimCard {
    width: 18rem;
    height: 18rem;
}

.dimImage {
    max-width: 18rem;
    height: 7rem;
}

.dimTitle {
    padding-top: 4px;
    padding-bottom: 4px;
}
