<div class="card dimCard">
  <a class="card-header text-white bg-dark mb-6 md-8 dimTitle" href="">{{infoActu?.actuHeader}}</a>
  <img class="card-img-top dimImage" src="..\..\..\content\images\bread-small.jpg" alt="Card image cap">
  <div class="card-body paddingCardBox">
    <div class= "d-inline" *ngFor = "let actuCateg of infoActu?.actuCategs">
        <span class="badge badge-primary marginCateg">{{actuCateg.categName}}</span>
    </div>
    <p class="card-text marginText" [innerHTML]="infoActu?.actuText"></p>
    <p class="card-text marginText"><small class="text-muted">{{infoActu?.actuDate}}</small></p>
  </div>
</div>