<header class = "row">
    <div class = "offset-sm-1 col-sm-12">
        En-tête
    </div>
</header>
<div class = "row">
    <section class = "offset-sm-2 col-sm-10">
        <span>
           Section 1
        </span>
        
        <div class = "row">
            <div class = "col-sm-12">
                <header>
                        <h2 class="title">
                            <span>
                                <fa-icon [icon]="'calendar'"></fa-icon>
                                <span>Actualités</span>
                            </span>
                        </h2>
                </header>
                <div class = "row">
                    <article class = "col-md-10">
                        <div class="card-deck">
                            <div class="card " style="max-width: 18rem;">
                              <div class="card-header text-white bg-dark mb-6"> <h6>La nouvelle boulangerie de Rennes</h6></div>
                              <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                              <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h6 class="card-title">Card title</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card " style="max-width: 18rem;">
                                <div class="card-header text-white bg-dark mb-6">La nouvelle boulangerie de Rennes</div>
                                <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                                <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                              <div class="card" style="max-width: 18rem;">
                                <div class="card-header text-white bg-dark mb-6">La nouvelle boulangerie de Rennes</div>
                                <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                                <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                        </div>
                       <!-- Article-->
                    </article>
                </div>
            </div>
            <!--<div class = "col-sm-2">
                <div class = "row">
                    <aside class = "col-sm-12">
                        Aside1
                    </aside>
                    <aside class = "col-sm-12">
                         Aside2
                    </aside>
                </div>
                
            </div>-->
        </div>
    </section>
    <section class = "offset-sm-2 col-sm-10">
        Section 2
        <div class="row">
            <article class = "col-sm-10">
                <div class="card-deck">
                    <div class="card " style="max-width: 18rem;">
                      <div class="card-header text-white bg-dark mb-6"> <h6>La nouvelle boulangerie de Rennes</h6></div>
                      <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                      <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h6 class="card-title">Card title</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card " style="max-width: 18rem;">
                        <div class="card-header text-white bg-dark mb-6">La nouvelle boulangerie de Rennes</div>
                        <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                        <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div class="card" style="max-width: 18rem;">
                        <div class="card-header text-white bg-dark mb-6">La nouvelle boulangerie de Rennes</div>
                        <!--<img class="card-img-top" src="C:\Users\Utilisateur\Pictures\bread-small.jpg" alt="Card image cap">-->
                        <img class="card-img-top" src="D:\Images\bread-small.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                </div>
            </article>
        </div>     
    </section>
</div>
