/* ==========================================================================
Navbar
========================================================================== */

.main-home {
    margin-left: 230px;
    color: #ccc;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
